p {
    font-size: large;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;

}
textarea {
    width:99%;
    height:150px;
}

input {
    width:99%;
}

div {
    margin: auto;
    width: 505;
    align-content: center;
    align-items: center;
    
    
}

#title {
    align-content: center;
    text-align: center;
    background-color: rgb(155, 153, 153);
    font-size: large;

}

#content {
    padding: 5%;
}

#images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 5%;
    align-self: center;
    align-content: center;
    align-items: center;
    box-sizing: content-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(221, 221, 221)

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

button {
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 15%;
}

select {
        background-color: #333; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        width: 15%;
        height: auto;
}

#chooseImage {
    background-color: #333; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    width: 12%;

}



#libraryEntry * {
    background-color: #333; 

    color: rgb(116, 114, 114);
}
  
  
  